Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/MageAnimationSet/Animations/InPlace/Mage_Beam_2h_End_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_2h_Loop_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_2h_Start_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_L_End_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_L_Loop_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_L_Start_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_R_End_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_R_Loop_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_R_Start_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Death_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_B_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_BL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_BR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_F_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_FL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_FR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_L_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_R_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_EnterCombat_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_ExitCombat_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Falling_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Fireball_L_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Fireball_R_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_GroundSlam_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Hurt_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Idle_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Jump_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Land_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Levitate_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_B_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_BL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_BR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_F_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_FL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_FR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_L_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_R_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Shout_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Sprint_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Stagger_B_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Stagger_F_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Stagger_L_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Stagger_R_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Telekinesis_End_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Telekinesis_Loop_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Telekinesis_Start_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_B_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_BL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_BR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_F_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_FL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_FR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_L_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_R_IP.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_2h_End_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_2h_Loop_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_2h_Start_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_L_End_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_L_Loop_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_L_Start_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_R_End_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_R_Loop_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_R_Start_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Death_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_B_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_BL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_BR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_F_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_FL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_FR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_L_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_R_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_EnterCombat_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_ExitCombat_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Falling_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Fireball_L_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Fireball_R_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_GroundSlam_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Hurt_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Idle_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Jump_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Land_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Levitate_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_B_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_BL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_BR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_F_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_FL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_FR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_L_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_R_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Shout_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Sprint_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Stagger_B_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Stagger_F_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Stagger_L_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Stagger_R_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Telekinesis_End_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Telekinesis_Loop_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Telekinesis_Start_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_B_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_BL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_BR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_F_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_FL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_FR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_L_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_R_RM.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/M_UE4Man_Body.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/M_UE4Man_ChestLogo.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/T_ML_Aluminum01.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
Content/MageAnimationSet/Characters/Mannequin/Mesh/SK_Mannequin.uasset
Content/MageAnimationSet/Characters/Mannequin/Mesh/SK_Mannequin_PhysicsAsset.uasset
Content/MageAnimationSet/Characters/Mannequin/Mesh/UE4_Mannequin_Skeleton.uasset
Content/MageAnimationSet/Characters/Mannequin/Textures/UE4_LOGO_CARD.uasset
Content/MageAnimationSet/Characters/Mannequin/Textures/UE4_Mannequin__normals.uasset
Content/MageAnimationSet/Characters/Mannequin/Textures/UE4_Mannequin_MAT_MASKA.uasset
Content/MageAnimationSet/Characters/Mannequin/Textures/UE4Man_Logo_N.uasset
Content/MageAnimationSet/DemoAssets/AnimBP/AnimationDemo_AnimBP.uasset
Content/MageAnimationSet/DemoAssets/Blueprints/AnimationDemo_BP.uasset
Content/MageAnimationSet/DemoAssets/Blueprints/Fireball_BP.uasset
Content/MageAnimationSet/Documentation/Documentation_W.uasset
Content/MageAnimationSet/FX/Aura_P.uasset
Content/MageAnimationSet/FX/Beam_1h_P.uasset
Content/MageAnimationSet/FX/Beam_2h_Charge_P.uasset
Content/MageAnimationSet/FX/Beam_2h_P.uasset
Content/MageAnimationSet/FX/FireballTrail_P.uasset
Content/MageAnimationSet/FX/Idle_P.uasset
Content/MageAnimationSet/FX/Shout_P.uasset
Content/MageAnimationSet/FX/Slam_Charge_P.uasset
Content/MageAnimationSet/FX/Slam_Impact_P.uasset
Content/MageAnimationSet/FX/Telekinesis_Hold_P.uasset
Content/MageAnimationSet/FX/Telekinesis_Pull_P.uasset
Content/MageAnimationSet/Maps/OverviewMap.umap
Content/MageAnimationSet/Maps/OverviewMap_BuiltData.uasset
Content/MageAnimationSet/Materials/CustomText_M.uasset
Content/MageAnimationSet/Materials/Fireball_M.uasset
Content/MageAnimationSet/Materials/Particle_M.uasset
Content/MageAnimationSet/SourceFiles/Mage_FBX.zip
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_2h_End_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_2h_Loop_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_2h_Start_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_L_End_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_L_Loop_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_L_Start_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_R_End_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_R_Loop_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Beam_R_Start_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Death_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_B_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_BL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_BR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_F_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_FL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_FR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_L_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Dodge_R_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_EnterCombat_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_ExitCombat_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Falling_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Fireball_L_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Fireball_R_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_GroundSlam_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Hurt_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Idle_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Jump_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Land_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Levitate_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_B_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_BL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_BR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_F_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_FL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_FR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_L_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Run_R_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Shout_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Sprint_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Stagger_B_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Stagger_F_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Stagger_L_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Stagger_R_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Telekinesis_End_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Telekinesis_Loop_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Telekinesis_Start_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_B_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_BL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_BR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_F_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_FL_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_FR_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_L_IP.uasset
Content/MageAnimationSet/Animations/InPlace/Mage_Walk_R_IP.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_2h_End_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_2h_Loop_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_2h_Start_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_L_End_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_L_Loop_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_L_Start_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_R_End_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_R_Loop_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Beam_R_Start_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Death_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_B_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_BL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_BR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_F_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_FL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_FR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_L_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Dodge_R_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_EnterCombat_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_ExitCombat_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Falling_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Fireball_L_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Fireball_R_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_GroundSlam_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Hurt_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Idle_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Jump_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Land_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Levitate_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_B_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_BL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_BR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_F_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_FL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_FR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_L_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Run_R_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Shout_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Sprint_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Stagger_B_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Stagger_F_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Stagger_L_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Stagger_R_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Telekinesis_End_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Telekinesis_Loop_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Telekinesis_Start_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_B_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_BL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_BR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_F_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_FL_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_FR_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_L_RM.uasset
Content/MageAnimationSet/Animations/RootMotion/Mage_Walk_R_RM.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/M_UE4Man_Body.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/M_UE4Man_ChestLogo.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/T_ML_Aluminum01.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
Content/MageAnimationSet/Characters/Mannequin/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
Content/MageAnimationSet/Characters/Mannequin/Mesh/SK_Mannequin.uasset
Content/MageAnimationSet/Characters/Mannequin/Mesh/SK_Mannequin_PhysicsAsset.uasset
Content/MageAnimationSet/Characters/Mannequin/Mesh/UE4_Mannequin_Skeleton.uasset
Content/MageAnimationSet/Characters/Mannequin/Textures/UE4_LOGO_CARD.uasset
Content/MageAnimationSet/Characters/Mannequin/Textures/UE4_Mannequin__normals.uasset
Content/MageAnimationSet/Characters/Mannequin/Textures/UE4_Mannequin_MAT_MASKA.uasset
Content/MageAnimationSet/Characters/Mannequin/Textures/UE4Man_Logo_N.uasset
Content/MageAnimationSet/DemoAssets/AnimBP/AnimationDemo_AnimBP.uasset
Content/MageAnimationSet/DemoAssets/Blueprints/AnimationDemo_BP.uasset
Content/MageAnimationSet/DemoAssets/Blueprints/Fireball_BP.uasset
Content/MageAnimationSet/Documentation/Documentation_W.uasset
Content/MageAnimationSet/FX/Aura_P.uasset
Content/MageAnimationSet/FX/Beam_1h_P.uasset
Content/MageAnimationSet/FX/Beam_2h_Charge_P.uasset
Content/MageAnimationSet/FX/Beam_2h_P.uasset
Content/MageAnimationSet/FX/FireballTrail_P.uasset
Content/MageAnimationSet/FX/Idle_P.uasset
Content/MageAnimationSet/FX/Shout_P.uasset
Content/MageAnimationSet/FX/Slam_Charge_P.uasset
Content/MageAnimationSet/FX/Slam_Impact_P.uasset
Content/MageAnimationSet/FX/Telekinesis_Hold_P.uasset
Content/MageAnimationSet/FX/Telekinesis_Pull_P.uasset
Content/MageAnimationSet/Maps/OverviewMap.umap
Content/MageAnimationSet/Maps/OverviewMap_BuiltData.uasset
Content/MageAnimationSet/Materials/CustomText_M.uasset
Content/MageAnimationSet/Materials/Fireball_M.uasset
Content/MageAnimationSet/Materials/Particle_M.uasset
Content/MageAnimationSet/SourceFiles/Mage_FBX.zip
